<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jakub Gajewski">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Word chains</title>
</head>
<body>
<div class="container">
    <h1>Please enter two words to connect with chain</h1>
    <form class="form-inline" th:action="@{/}" method="post">
        <div class="form-group">
            <label for="firstword" class="mr-2 mb-1">Enter start word:</label>
            <input type="text" class="form-control" id="firstword" th:name="startWord" placeholder="Start word" required>
        </div>
        <div class="form-group">
            <label for="secondword" class="mr-2 mb-1">Enter end word:</label>
            <input type="text" class="form-control" id="secondword" th:name="endWord" placeholder="End word" required>
        </div>
        <button class="btn btn-primary" type="submit">Search for word chain</button>
    </form>
    <h1 th:if="${message != null}" th:text="${message}"></h1>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
